<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
    </title>
    <link rel="stylesheet" type="text/css" href="/load.css" />
    <link ref="stylesheet" href="/bundle.css" />
  </head>
  <body>
    <div id="root">
      <div class="load">
        <div class="load__icon-wrap">
          <svg class="load__icon">
            <path fill="#070d59" d="M12,4V2A10,10 0 0,0 2,12H4A8,8 0 0,1 12,4Z"/>
          </svg>
        </div>
      </div>
    </div>
    <script src="/bundle.js"></script>
  </body>
</html>
